.header-menu{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search{
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #f4f4f4;
    border-radius: 30px;
    padding: 5px 20px;
}

.header-search img{
    width: 30px;
}

.header-search input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
}

.header-search button{
    border: none;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    transition: .4s;
    font-size: 16px;
}

.header-search button:hover{
    color: #bac34e;
}

.header-icons{
    display: flex;
    align-items: center;
}

.header-icons div{
    width: 50px;
    height: 50px;
    background-color: #e8f8f7;
    border-radius: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .4s;
}

.header-icons img{
    width: 25px;
    transition: .4s;
}

.header-icons i{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0bf96;
    color: #fff;
}

.header-icons div:nth-child(2){
    background-color: #f6f3e3;
}

.header-icons div:last-child{
    background-color: #f3e4dc;
}

.header-icons div:hover{
    background-color: #bac34e;
}

.header-icons div:hover img{
    filter: invert(1);
}

.burger-menu-adaptive{
    display: none;
}


@media(max-width:1000px){
    .burger-menu-adaptive{
        display: block;
    }
    .burger-menu-adaptive img{
        width: 30px;
    }
    .header-search, .header-icons div:first-child, .header-icons div:nth-child(2){
        display: none;
    }
}

@media(max-width:400px){
    .header-logo img{
        width: 100px;
    }
}